@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  10% {
    -webkit-transform: rotate(-1deg) translate(-50%, -50%);
            transform: rotate(-1deg) translate(-50%, -50%);
  }
  20% {
    -webkit-transform: rotate(1deg) translate(-50%, -50%);
            transform: rotate(1deg) translate(-50%, -50%);
  }
  30% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  40% {
    -webkit-transform: rotate(1deg) translate(-50%, -50%);
            transform: rotate(1deg) translate(-50%, -50%);
  }
  50% {
    -webkit-transform: rotate(-1deg) translate(-50%, -50%);
            transform: rotate(-1deg) translate(-50%, -50%);
  }
  60% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  70% {
    -webkit-transform: rotate(-1deg) translate(-50%, -50%);
            transform: rotate(-1deg) translate(-50%, -50%);
  }
  80% {
    -webkit-transform: rotate(1deg) translate(-50%, -50%);
            transform: rotate(1deg) translate(-50%, -50%);
  }
  90% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: rotate(-1deg) translate(-50%, -50%);
            transform: rotate(-1deg) translate(-50%, -50%);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  10% {
    -webkit-transform: rotate(-1deg) translate(-50%, -50%);
            transform: rotate(-1deg) translate(-50%, -50%);
  }
  20% {
    -webkit-transform: rotate(1deg) translate(-50%, -50%);
            transform: rotate(1deg) translate(-50%, -50%);
  }
  30% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  40% {
    -webkit-transform: rotate(1deg) translate(-50%, -50%);
            transform: rotate(1deg) translate(-50%, -50%);
  }
  50% {
    -webkit-transform: rotate(-1deg) translate(-50%, -50%);
            transform: rotate(-1deg) translate(-50%, -50%);
  }
  60% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  70% {
    -webkit-transform: rotate(-1deg) translate(-50%, -50%);
            transform: rotate(-1deg) translate(-50%, -50%);
  }
  80% {
    -webkit-transform: rotate(1deg) translate(-50%, -50%);
            transform: rotate(1deg) translate(-50%, -50%);
  }
  90% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: rotate(-1deg) translate(-50%, -50%);
            transform: rotate(-1deg) translate(-50%, -50%);
  }
}

@font-face {
  font-family: "ge_ss";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ge_ss.ttf") format("truetype");
}

* {
  font-family: "ge_ss" !important;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

body .CinamaList {
  background-color: transparent;
}

body .about {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

body .CinamaObject {
  position: relative;
  background-color: white;
  display: none;
  overflow: hidden;
}

body .tablet {
  display: none;
  direction: rtl;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 650px;
  height: 400px;
  background-color: #bf7a0b;
  border: 15px solid black;
  border-radius: 20px 0 0 20px;
  text-align: right;
  color: white;
}

body .tablet.shake {
  -webkit-animation-name: "shake";
          animation-name: "shake";
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body .tablet .dot {
  position: absolute;
  top: -15px;
  right: -45px;
  width: 15px;
  height: 100%;
  background-color: black;
  z-index: -1;
  border: 15px solid black;
  border-radius: 0 20px 20px 0;
}

body .tablet .dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #141414;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

body .tablet::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url("https://media.discordapp.net/attachments/764915307000889374/943212481055170610/Untitled-2.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  z-index: -1;
}

body .tablet .MainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .tablet .MainContainer .inside {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

body .tablet .MainContainer .inside .screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .tablet .MainContainer .inside .screens .remove {
  margin-right: 5px;
  font-size: 20px;
}

body .tablet .MainContainer .inside .screens .remove:hover ion-icon {
  -webkit-filter: drop-shadow(0 0 3px #eb970e);
          filter: drop-shadow(0 0 3px #eb970e);
}

body .tablet .MainContainer .inside .screens .select {
  width: 100%;
}

body .tablet .MainContainer .inside .screens .select select {
  font-family: "Tahoma", sans-serif !important;
  border-style: none;
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  text-indent: 5px;
}

body .tablet .MainContainer .inside .title {
  margin: 10px 0;
}

body .tablet .MainContainer .inside input[type="text"] {
  border-style: none;
  width: 100%;
  padding: 7px;
  border-radius: 4px;
}

body .tablet .MainContainer .inside .action {
  margin: 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .tablet .MainContainer .inside .action .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .tablet .MainContainer .inside .action .item .volume {
  margin: 0 5px;
  width: 100%;
}

body .tablet .MainContainer .inside .action .item .volume input {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  -webkit-appearance: none;
}

body .tablet .MainContainer .inside .action .item .volume input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: black !important;
  border-radius: 50%;
}

body .tablet .MainContainer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .tablet .MainContainer .buttons .btn-action {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
}

body .tablet .MainContainer .buttons .btn-action:first-child {
  margin: 0;
}

body .tablet .MainContainer .buttons .btn-action:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

body .tablet .MainContainer .buttons .btn-action:hover ion-icon {
  -webkit-filter: drop-shadow(0 0 3px #eb970e) drop-shadow(0 0 2px white);
          filter: drop-shadow(0 0 3px #eb970e) drop-shadow(0 0 2px white);
}

body .tablet .MainContainer .buttons .btn-action .icon {
  margin-left: 7px;
  font-size: 20px;
}

body .tablet .permission_list {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 10px;
  width: 400px;
  border-radius: 7px;
}

body .tablet .permission_list .header {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .tablet .permission_list .header .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .tablet .permission_list .header .item:last-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
}

body .tablet .permission_list .header .item:last-child:hover {
  color: #bf7a0b;
}

body .tablet .permission_list .header .item:last-child .text {
  margin-right: 5px;
}

body .tablet .permission_list .header .item:last-child ion-icon {
  font-size: 20px;
}

body .tablet .permission_list .empty {
  text-align: center;
  margin: 10px;
  font-size: 14px;
}

body .tablet .permission_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body .tablet .permission_list ul li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 7px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}

body .tablet .permission_list ul li:hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.2)), to(transparent));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.2), transparent);
}

body .tablet .permission_list ul li input {
  border-style: none;
  border-radius: 5px;
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */